<!DOCTYPE html>
<html lang="fa-IR">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="navbar">
    <a id="homepage" href="/">home</a>

    <a id=”contact_us” href='/contact_us'>contact us</a>
    {% if user.is_authenticated %}
        <a id="logout" href="/users/logout">logout</a>
        <a id="panel" href="/users/panel">panel</a>
    {% else %}
        <a id="register" href='/users/register'>register</a>
        <a id="login" href='/users/login'>login</a>
    {% endif %}
    </div>
    {% block content %}{% endblock content %}
</body>
</html>