{% extends 'mainpage/base.html' %}
{% block content %}
    <form id="login_form" method="post" action="#">
    {% csrf_token %}
        <label>
            username
            <input name='username'>
        </label>
        <label>
            password
            <input name='password'>
        </label>


        <button name='submit'>submit</button>

        {% if err %}
            <div id="errors">
                error
            </div>
        {% endif %}
    </form>
{% endblock content %}