{% extends 'mainpage/base.html' %}
{% block content %}
    <form id="register_form" method="post" action="#">
        {% csrf_token %}
        <label>
            first name
            <input name='first_name'>
        </label>

        <label>
            last name
            <input name='last_name'>
        </label>

        <label>
            username
            <input name='username'>
        </label>

        <label>
            email
            <input name='email'>
        </label>

        <label>
            password
            <input name='password1'>
        </label>

        <label>
            repeat password
            <input name='password2'>
        </label>

        <button name='submit'>submit</button>

        {% if err == 'u' %}
            <div id="errors">
            نام کاربری شما در سیستم موجود است
            </div>
        {% elif err == 'p' %}
            <div id="errors">
            گذرواژه و تکرار گذرواژه یکسان نیستند
            </div>
        {% endif %}
    </form>
{% endblock content %}